= form_for @test_category do |f|
  .input.field.span8
    = f.error_messages
  .input.field
    %span{:title=>"Test Category Name "}
      = f.label :name
      = f.text_field :name
  .input.field
    %span{:title=>" Description for test category "}
      = f.label :description
      = f.text_area :description
  .ui-dialog-buttonset.textAlignCenter
    = f.submit 'Save', :class => 'btn primary'
    or
    = link_to 'Cancel', test_categories_path

:javascript
  $('span[title]').twipsy({"html":true, "placement": "right"});