%tr{:id => "id_" + test_category.id.to_s}
  %td= test_category.name
  %td= test_category.description
  %td= test_category.status
  %td= link_to 'Show', test_category, :remote => true, :class => "btn  info"
  %td= link_to 'Edit', edit_test_category_path(test_category),
        :class => "btn primary"
  %td
    != destroy_active_deactive_button(test_category)