%tr{:id => "id_" + test_category.id.to_s}
  %td= link_to test_category.name.titleize, test_category, :remote => true
  %td= truncate(test_category.description,  :length => 20)
  %td= test_category.status
  %td.textAlignCenter
    = link_to_if( test_category.is_active?, 'Edit', edit_test_category_path(test_category),:class => "btn primary") do
      %span.btn.primary.disabled Edit
    != destroy_active_deactive_button(test_category)
    = link_to_if( test_category.is_active?, 'Tests',  test_category_tests_path(test_category),:class => "btn primary") do
      %span.btn.primary.disabled Tests