.row
  .span13
    %h3
      Test Category Management
  .span3
    = link_to 'New Test category', new_test_category_path, :class => "btn primary"


.row
  .span15
    %table#TestCategory.zebra-striped
      %thead
        %tr
          %th Name
          %th Description
          %th Status
          %th
          %th Action
          %th
      %tbody
        - @test_categories.each do |test_category|
          %tr
            %td= test_category.name
            %td= test_category.description
            %td= test_category.is_active
            %td= link_to 'Show', test_category, :remote => true, :class => "btn enhance-small info"
            %td= link_to 'Edit', edit_test_category_path(test_category),
                  :class => "btn enhance-small primary"
            %td= link_to 'Destroy', test_category, :confirm => 'Are you sure?',
                  :method => :delete,:class => 'btn enhance-small danger'