#user_nav
  - if user_signed_in?
    Signed in as #{current_user.email}. Not you?
    -# #{link_to "Sign out", destroy_user_session_path, :method => :delete}

  - if user_signed_in?
    = link_to('Logout', destroy_user_session_path, :method=>'get')
  - else
    = link_to('Login', new_user_session_path)
  - if user_signed_in?
    = link_to('Edit account', edit_user_registration_path)
  - else
    = link_to('Sign up', new_user_registration_path)