= form_for @patient do |f|
  = render :partial => 'shared/errors', :locals => {:obj => @patient}
  .field
    = f.label :refrence_no
    = f.text_field :refrence_no
  .field
    = f.label :doctor_id
    = f.text_field :doctor_id
  .field
    = f.label :initial_name
    = f.text_field :initial_name
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :test_execution_date
    = f.date_select :test_execution_date
  .field
    = f.label :test_delivery_date
    = f.date_select :test_delivery_date
  .field
    = f.label :total_amount
    = f.text_field :total_amount
  .field
    = f.label :advance_payment
    = f.text_field :advance_payment
  .field
    = f.label :is_doctor_receoved_payment
    = f.check_box :is_doctor_receoved_payment
  .actions
    = f.submit 'Save'
