.ul{:id => "test_#{test.id}"}
  .li= test.s_no
  .li= test.code
  .li= test.name
  .li= number_to_currency(test.fees)
  .li= number_to_currency(test.doctor_commission)
  .li= link_to "Delete", remove_test_patient_path( test, {:s_no => test.s_no}), :confirm => 'Are you sure?', :remote=> true, :disable_with => 'loading...', :method => "delete"
%hr