.row
  .span16.textAlignCenter
    %h3 Patient Management
.row
  .span3
    = link_to_if((!@doctors.blank? and !@test_categories.blank? and !@tests.blank?),  'New Patient', new_patient_path, :class => "btn primary") do
      %span.btn.primary.disabled{:title => "Only when tests and doctors are available "} New Patient

  .span5.fltrgt
    = form_tag(patients_url, :method => :get, :class => 'pull-right' ) do
      %span{:title=>"Refrence No /  Name "}
        = search_field_tag :search_text, params[:search_text] , :id=>"search_text", :placeholder => 'Search', :class => 'input-medium search-query'
        = submit_tag "Search", :class => "btn primary", :id=>'search_patienst'

= will_paginate( @patients, :params => { :anchor => "Patients" } )

.row
  .span16
    %table#Patient.zebra-striped
      %thead
        %tr
          %th S.No
          %th Refrence no
          %th.th-width-100 Name
          %th Test date
          %th Delivery date
          %th Amount
          %th Advance payment
          %th Is doctor received payment
          %th.th-width-165.textAlignCenter Action
      %tbody
        - unless @patients.blank?
          - @patients.each_with_index do |patient, i|
            %tr
              %td= i + 1
              %td= link_to patient.refrence_no, patient,  :remote => true
              %td= link_to patient.full_name, patient,  :remote => true
              %td= date_format(patient.test_execution_date)
              %td= date_format(patient.test_delivery_date)
              %td= patient.total_amount
              %td= patient.advance_payment
              %td= patient.doctor_received_paymet
              %td
                = link_to 'Destroy', patient, :confirm => 'Are you sure?',
                    :method => :delete, :class => 'btn danger'
                = link_to ' Print ', prescription_print_patient_url(patient), :remote => true, :class => "btn success"
        - else
          %tr
            %td.textAlignCenter{:colspan =>9}
              No Records
= will_paginate( @patients, :params => { :anchor => "Patients" } )

:javascript
  $('span[title]').twipsy({"html":true,"placement": "right"});
