.row
  .span13
    %h3
      Patients Management
  .span3
    = link_to 'New Patient', new_patient_path, :class => "btn primary"

= will_paginate( @patients, :params => { :anchor => "Patients" } )

.row
  .span15
    %table#Patient.zebra-striped
      %thead
        %tr
          %th S.No
          %th Refrence no
          %th Name
          %th Test execution date
          %th Test delivery date
          %th Total amount
          %th Advance payment
          %th Is doctor receoved payment
          %th
          %th Action
          %th
      %tbody
        - @patients.each_with_index do |patient, i|
          %tr
            %td= i + 1
            %td= patient.refrence_no
            %td= patient.full_name
            %td= date_format(patient.test_execution_date)
            %td= date_format(patient.test_delivery_date)
            %td= patient.total_amount
            %td= patient.advance_payment
            %td= patient.is_doctor_receoved_payment
            %td= link_to 'Show', patient, :remote => true, :class => "btn enhance-small info"
            %td= link_to 'Edit', edit_patient_path(patient), :class => "btn enhance-small primary"
            %td= link_to 'Destroy', patient, :confirm => 'Are you sure?',
                  :method => :delete, :class => 'btn enhance-small danger'
= will_paginate( @patients, :params => { :anchor => "Patients" } )
%br
