%p
  %b Refrence no:
  = @patient.refrence_no
%p
  %b Refered Doctor:
  = "#{@patient.doctor.first_name} #{@patient.doctor.last_name}"
%p
  %b Initial name:
  = @patient.initial_name
%p
  %b First name:
  = @patient.first_name
%p
  %b Last name:
  = @patient.last_name
%p
  %b Test execution date:
  = @patient.test_execution_date.strftime("%b %d, %Y")
%p
  %b Test delivery date:
  = @patient.test_delivery_date.strftime("%b %d, %Y")
%p
  %b Total amount:
  = @patient.total_amount
%p
  %b Advance payment:
  = @patient.advance_payment
%p
  %b Is doctor receoved payment:
  = @patient.is_doctor_receoved_payment

= link_to 'Edit', edit_patient_path(@patient)
\|
= link_to 'Back', patients_path
