= form_for @doctor do |f|
  = render :partial => 'shared/errors', :locals => {:obj => @doctor}
  .input.field
    = f.label :code
    = f.text_field :code
  .input.field
    = f.label :first_name
    = f.text_field :first_name
  .input.field
    = f.label :last_name
    = f.text_field :last_name
  .input.field
    = f.label :designation
    = f.text_field :designation
  .input.field
    = f.label :email
    = f.email_field :email
  .input.field
    = f.label :cell
    = f.phone_field :cell
  .input.field
    = f.label :phone
    = f.phone_field :phone
  .input.field
    = f.label :address1
    = f.text_field :address1
  .input.field
    = f.label :address2
    = f.text_field :address2
  .input.field
    = f.label :postal
    = f.text_field :postal
  .input.field
    = f.label :city
    = f.text_field :city
  .input.field
    = f.label :state
    = f.text_field :state
  .input.field
    = f.label "Status"
    = f.check_box :is_active
  .ui-dialog-buttonset.textAlignCenter
    = f.submit 'Save', :class => 'btn primary'
    or
    = link_to 'Cancel', doctors_path
