%p
%span.label.notice Notice
Do your payment from here.
%br
= form_for( @account, :url => make_payment_doctor_path, :remote => true ) do |f|
  = render :partial => 'shared/errors', :locals => {:obj => @account}
  .field
    = f.label 'Amount'
    = f.text_field :dues_amount, :readonly => true
  .field
    = f.label 'Payment'
    = f.text_field :paid_amount
  .ui-dialog-buttonset.fltrgt
    = f.submit 'Save', :class => 'btn primary'
    or
    = link_to_function 'Cancel', '$.dialog().close();'
