.row
  .span
    %h3
      = doctor.name
      = doctor.code

.row
  .span5
    %h5
      Total Lab Earn:
      = number_to_currency(doctor.lab_earn, :unit => "Rs:")
  .span4
    %h5
      Total Patient Count:
      = doctor.patient_count
  .span6
    %h5
      Total Commission:
      = number_to_currency(doctor.total_commission, :unit => "Rs:")
.row
  .span6
    %h5
      Total Paid Commission by lab:
      = number_to_currency(doctor.total_paid_commission_by_lab, :unit => "Rs:")
  .span7
    %h5
      Total Payment Received from Patient:
      = number_to_currency(doctor.total_payment_received_from_patient, :unit => "Rs:")
.row
  .span6
    %h5
      Total Paid Commission :
      = number_to_currency(doctor.total_paid_commission, :unit => "Rs:")
  .span
    %h5
      Total Dues Commission:
      = number_to_currency(doctor.total_dues_commission, :unit => "Rs:")

%br