.row
  .span16.textAlignCenter
    %h3 Doctor Management
.row
  .span5.fltrgt
    = form_tag(doctors_url, :method => :get, :class => 'pull-right' ) do
      %span{:title=>"Doctor Code/ Doctor Name/ Designation "}
        = search_field_tag :search_text, params[:search_text] , :id=>"search_text", :class => 'input-medium search-query', :placeholder => "Search"
        = submit_tag "Search", :class => "btn primary", :id=>'search_tests'

  .span3
    = link_to 'New Doctor', new_doctor_path, :class => "btn primary"


%span.label.important Notice :
If any doctor referred to any patient then that doctor can not be deleted. It can only be activate or deactivated.

= will_paginate( @doctors, :params => { :anchor => "Doctors" } )

.row
  .span16
    %table#Doctor.zebra-striped
      %thead
        %tr
          %th Code
          %th Name
          %th Designation
          %th Status
          %th.textAlignCenter{:width => 500} Action
      %tbody
      - if @doctors.blank?
        %tr
          %td.textAlignCenter{:colspan => 7}
            No Records
      - else
        = render :partial => 'row', :collection => @doctors, :as => :doctor

= will_paginate( @doctors, :params => { :anchor => "Doctors" } )

:javascript
  $('span[title]').twipsy({"html":true});
