.row
  .span13
    %h3 Doctors Patient list is here.
  .span3
    =link_to 'Back', doctors_url,  :class => "btn primary"

.row
  .span
    %h3
      Doctor Name
      = @doctor.name
      = @doctor.code

.row
  .span
    %h4
      Total Commission
      = @doctor.total_commission

.row
  .span
    %h5 Patients List

%table#lineTest.zebra-striped.condensed
  %thead
    %tr
      %td S.No
      %td Test date
      %td Patient Name
      %td Tests
      %td
        Category
        %br
        - @test_categories.each do |test_category|
          = test_category.name + '|'
      %td Total
      %td Doctors Charge
  %tbody
    - @doctors_patients.each_with_index do |patient, i|
      %tr
        %td= i+1
        %td=date_format(patient.test_execution_date)
        %td= patient.full_name
        %td= patient.test_names
        %td
          - @test_categories.each do |test_category|
            = patient.sum_of_test_fee_based_on_category[test_category.id.to_s]
        %td= patient.total_amount
        %td= patient.sum_of_doctor_commission
