.row
  .span11
    %h3 Doctors Patient list.
  .span3
    =link_to "#{@doctor.code} Account", account_doctor_url,  :class => "btn primary"
  .span2
    =link_to 'Back', doctors_url,  :class => "btn primary"

= render :partial => 'payment_status', :locals => {:doctor => @doctor}

.row
  .span
    %h5 Patients List

.row
  .span11
    = form_tag(patients_list_doctor_url ,:method=>:get, :id=>"patients_list_doctor_search_form") do
      To
      = datepicker_input "search", "to_date", :value => @to_date
      From
      = datepicker_input "search", "from_date", :value => @from_date
      = submit_tag "Search", :id=>"patients_list_doctor_search_form", :class => "btn primary"

%br
.row
  .span10
  = will_paginate( @doctors_patients, :params => { :anchor => "PatientList" } )

%table#lineTest.zebra-striped.condensed
  %thead
    %tr
      %td S.No
      %td Test date
      %td Patient Name
      %td Tests
      %td
        Category
        %br
        - @test_categories.each do |test_category|
          = test_category.name + '|'
      %td Total
      %td Doctors Charge
  %tbody
    - @doctors_patients.each_with_index do |patient, i|
      %tr
        %td= i+1
        %td=date_format(patient.test_execution_date)
        %td= patient.full_name
        %td= patient.test_names
        %td
          - @test_categories.each do |test_category|
            = patient.sum_of_test_fee_based_on_category[test_category.id.to_s]
        %td= patient.total_amount
        %td= patient.sum_of_doctor_commission

.row
  .span10
    = will_paginate( @doctors_patients, :params => { :anchor => "PatientList" } )