= form_for @test do |f|
  .input.field.span8
    = f.error_messages
  .input.field
    %span{:title=>"Select test category either type  or select from drop down. Only existing test categories can be selected"}
      = f.label :test_category_id
      = f.select "test_category_id", options_from_collection_for_select(@test_categories, "id", "name", @test.test_category_id), { :include_blank => 'None'}
  .input.field
    %span{:title=>"If  it is blank , system will auto generate test code"}
      = f.label :code
      = code_field(f)
    %span.label.success Info
    If  it is blank , system will auto generate test code
  .input.field
    %span{:title=>"Test name"}
      = f.label :name
      = f.text_field :name
  .input.field
    %span{:title=>"Test fee value. it should be numeric"}
      = f.label :fees
      = f.text_field :fees
  .input.field
    %span{:title=>"select type percentage/amount from dropdown or by type some character. Based on type doctors commission will calculate."}
      = f.label :commission_type
      = f.select :commission_type, Test::COMMISSION_TYPE, include_blank: true
  .input.field
    %span{:title=>"For  percentage type fill %age value or  for amount type fill amount value"}
      = f.label :commission_value
      = f.text_field :commission_value
  .input.field
    %span{:title=>"Introduction for test"}
      = f.label :description
      = f.text_area :description
  .ui-dialog-buttonset.textAlignCenter
    = f.submit 'Save', :class => 'btn primary'
    or
    = link_to 'Cancel', tests_path

:javascript
  $('span[title]').twipsy({"html":true, "placement": "right"});
  $("#test_test_category_id").combobox();
  $("#test_commission_type").combobox();
