%p
  %b Category Name:
  = @test.test_category.name.humanize
%p
  %b Code:
  = @test.code.upcase
%p
  %b Name:
  = @test.name
%p
  %b Fees:
  = number_to_currency(@test.fees,:unit => "")
%p
  %b Commission type:
  = @test.commission_type
%p
  %b Commission value:
  =  @test.comission_value
%p
  %b Description:
  = @test.description
%p
  %b Status:
  = @test.status