.row
  .span16.textAlignCenter
    %h3 Test Management

.row
  .span3
    = link_to_if(@test_categories_count > 0,  'New Test', new_test_path, :class => "btn primary") do
      %span.btn.primary.disabled{:title => "Only when test category is available. "} New Test

  .span5.fltrgt
    = form_tag(tests_url, :method => :get, :class => 'pull-right' ) do
      %span{:title=>"Category Name/ Test Name / Test Code/ Commission Type"}
        = search_field_tag :search_text, params[:search_text] , :id=>"search_text", :class => 'input-medium search-query', :placeholder => "Search"
        = submit_tag "Search", :class => "btn primary", :id=>'search_tests'

.row
  .span12.textAlignCenter
    %span{:title=>"Select category from drop down or type in text field."}
      %b Test Category:
      &nbsp;
      = select_tag "category_id", options_from_collection_for_select(@test_categories, "id", "name_upcase"), { :include_blank => 'None' }
      &nbsp;
      = link_to_function "Submit", "categoryTest();", :class => "btn primary"
%br
%span.label.important Notice :
If any test is assigned to any patient then that test can not be deleted. It can only be activate or deactivated.

= will_paginate( @tests, :params => { :anchor => "Tests" } )

.row
  .span16
    %table#Test.zebra-striped
      %thead
        %tr
          %th Test Category
          %th Code
          %th Name
          %th Type
          %th Fees
          %th Value
          %th Status
          %th.textAlignCenter{:width => 300} Action
      %tbody#testbody
      - if @tests.blank?
        %tr
          %td.textAlignCenter{:colspan => 8}
            No Records
      - else
        = render :partial => 'row', :collection => @tests, :as => :test

= will_paginate( @tests, :params => { :anchor => "Tests" } )

:javascript
  $('span[title]').twipsy({"html":true,"placement": "below"});
  $("#category_id").combobox();