.row
  .span13
    %h3 Tests List
  .span3
    = link_to 'New Test', new_test_path, :class => "btn primary"

= will_paginate( @tests, :params => { :anchor => "Tests" } )

.row
  .span15
    %table#Test.zebra-striped
      %thead
        %tr
          %th Test Category
          %th Code
          %th Name
          %th Commission type
          %th Fees
          %th Commission value
          %th Description
          %th Is active
          %th
          %th
          %th
      %tbody
        - @tests.each do |test|
          %tr
            %td= test.test_category.name.humanize
            %td= test.code
            %td= test.name
            %td= test.commission_type
            %td= number_to_currency(test.fees,:unit => "")
            %td= test.comission_value
            %td= test.description
            %td= test.is_active
            %td= link_to 'Show', test, :remote => true, :class => "btn enhance-small info"
            %td= link_to 'Edit', edit_test_path(test), :class => "btn enhance-small primary"
            %td= link_to 'Destroy', test, :confirm => 'Are you sure?', :method => :delete, :class => 'btn enhance-small danger'

= will_paginate( @tests, :params => { :anchor => "Tests" } )
