%h1 Listing tests

%table
  %tr
    %th Test Category
    %th Code
    %th Name
    %th Fees
    %th Commission type
    %th Commission value
    %th Description
    %th Is active
    %th
    %th
    %th

  - @tests.each do |test|
    %tr
      %td= test.test_category.name.humanize
      %td= test.code
      %td= test.name
      %td= number_to_currency(test.fees)
      %td= test.commission_type
      %td= test.comission_value
      %td= test.description
      %td= test.is_active
      %td= link_to 'Show', test
      %td= link_to 'Edit', edit_test_path(test)
      %td= link_to 'Destroy', test, :confirm => 'Are you sure?', :method => :delete