%p
  %b Category Name:
  = @test.test_category.name.humanize
%p
  %b Code:
  = @test.code
%p
  %b Name:
  = @test.name
%p
  %b Fees:
  = @test.fees
%p
  %b Commission type:
  = @test.commission_type
%p
  %b Commission value:
  = @test.comission_value
%p
  %b Description:
  = @test.description
%p
  %b Is active:
  = @test.is_active

= link_to 'Edit', edit_test_path(@test)
\|
= link_to 'Back', tests_path
