!!!
%html
  %head
    %title Project
    = stylesheet_link_tag :all #'jquery.ui.all.css', 'jquery.ui.base.css', 'jquery.ui.theme.css'
    =# stylesheet_link_tag  'demos.css', 'scaffold.css'
    = javascript_include_tag 'jquery-1.6.2.js', 'rails.js', 'jquery.ui.core.js', 'jquery.ui.widget.js', 'jquery.ui.button.js', 'jquery.ui.position.js', |
                                               'jquery.ui.autocomplete.js',  'jquery.ui.datepicker.js', 'application.js'
    = csrf_meta_tag
  %body
    %p#notice
      = notice
    %p.alert
      = alert
    %ul.hmenu
      = render 'shared/links'
      = render 'shared/header'
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    = yield