.row
  .span13.textAlignCenter
    %h3 Account Information

  .span3.fltrgt
    = link_to 'Change Password', edit_user_registration_path, :class => "btn primary"
%br
= form_for :account,  @user_information  do |f|
  .input.field.span8
    = f.error_messages
  .input.field
    %span{:title=>"User name should be uniques"}
      = f.label :user_name
      = f.text_field :user_name
  .input.field
    %span{:title=>"Your salutation. Select from drop down or type any word"}
      = f.label :salutation
      = f.select :salutation, Patient::INITIAL_NAME, include_blank: true
  .input.field
    %span{:title=>"Your first name."}
      = f.label :first_name
      = f.text_field :first_name
  .input.field
    %span{:title=>"Your last name."}
      = f.label :last_name
      = f.text_field :last_name
  .input.field
    %span{:title=>"Your current address."}
      = f.label :address
      = f.text_field :address
  .input.field
    %span{:title=>"Your phone number"}
      = f.label :phone
      = f.text_field :phone
  .input.field
    %span{:title=>"Your current city"}
      = f.label :city
      = f.text_field :city
  .input.field
    %span{:title=>"Your current state"}
      = f.label :state
      = f.text_field :state
  .input.field
    %span{:title=>"Your current country"}
      = f.label :country
      = f.text_field :country
  .input.field
    %span{:title=>"Your zipcode"}
      = f.label :zipcode
      = f.text_field :zipcode
  %br
  .ui-dialog-buttonpane.ui-helper-
    .ui-dialog-buttonset.textAlignCenter
      = f.submit 'Save', :class => 'btn primary'
      or
      = link_to 'Cancel', root_path

:javascript
  $('span[title]').twipsy({"html":true, "placement": "right"});
  $("#account_salutation").combobox();
